/********************************************
    BEGIN HOMPAGE
********************************************/

.main-banner {
    margin-bottom: 25px;
    height: 40vh;

    @include media('>=tablet') {
        height: 50vh;
    }

    @include media('>=desktop') {
        height: 80vh;
        margin-bottom: 85px;
    }
}

.slider-container {
    //padding-bottom: 25px;
    position: relative;
    overflow: hidden;

    .slick-slider {
        height: 100%;
        padding: 0;

        &.slider-adaptive {
            background-color: #fff;

            @include media('>=desktop') {
                max-height: 600px;
            }

            .slick-list {
                @include media('>=desktop') {
                    max-height: 600px;
                }
            }
        }

        .slick-track {
            display: flex;
            //align-items: center;
            height: 100%;

            .slick-slide {
                position: relative;
            }
        }

        img {
            background-color: #d1d3d4;
            vertical-align: top;

            @include media('>=desktop') {
                background-position: center center;
                max-height: 100vh;
            }
        }

        .slick-arrow {
            @include transition(all, $animation-type, $animation-speed);
            color: #fff;
            background: transparent;
            border: none;
            position: absolute;
            top: 50%;
            margin-top: -18px;
            font-size: 0;
            outline: none;
            line-height: 1;
            z-index: 100;

            @include media('>=tablet') {
                top: 50%;
                margin-top: -25px;
            }

            &.slick-prev {
                left: 1%;
                z-index: 100;

                &:before {
                    @include font-themify();
                    font-size: 30px;
                    content: '\e64a';

                    @include media('>=tablet') {
                        font-size: 50px;
                    }
                }
            }

            &.slick-next {
                right: 1%;
                z-index: 100;

                &:before {
                    @include font-themify();
                    font-size: 30px;
                    content: '\e649';

                    @include media('>=tablet') {
                        font-size: 50px;
                    }
                }

                &.testimonial {
                    right: 20%;

                    @include media('>=desktop') {
                        right: 5%;
                    }

                    &.expanded {
                        right: 1%;

                        @include media('>=desktop') {
                            right: 300px;
                        }
                    }
                }
            }
        }

        .slick-dots {
            display: block;
            text-align: center;
            margin-top: 20px;

            li {
                position: relative;
                display: inline-block;
                height: 20px;
                width: 20px;
                margin: 0 5px;
                padding: 0;
                cursor: pointer;

                button {
                    @include transition(all 0.5s ease);
                    border: 0;
                    background: transparent;
                    display: block;
                    height: 20px;
                    width: 20px;
                    outline: none;
                    line-height: 0;
                    font-size: 0;
                    color: transparent;
                    padding: 5px;
                    cursor: pointer;

                    &:hover, &:focus {
                        outline: none;

                        &:before {
                            opacity: $slick-opacity-on-hover;
                        }
                    }

                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: $slick-dot-character;
                        width: 20px;
                        height: 20px;
                        font-family: $slick-font-family;
                        font-size: $slick-dot-size;
                        line-height: 20px;
                        text-align: center;
                        color: $slick-dot-color;
                        opacity: $slick-opacity-not-active;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }

                &.slick-active button:before {
                    color: $slick-dot-color-active;
                    opacity: $slick-opacity-default;
                }
            }
        }

        .image-container {
            padding: 0 5px;

            img {
                @include media('>=desktop') {
                    max-height: 600px;
                }
            }
        }
    }

    .block-left,
    .block-right {
        @include transition(width 0.3s $animation-type);
        background-color: rgba(#000, .6);
        position: absolute;
        top: 0;
        width: 100px;
        height: calc(100% - 25px);
        z-index: 1;

        @include media('>=desktop') {
            max-height: 600px;
        }
    }

    .slick-arrow {
        &:hover {
            color: $cr-brand-primary;

            &.slick-next {
                right: .5%;
            }

            &.slick-prev {
                left: .5%;
            }
        }
    }

    .block-left {
        left: 0;
    }

    .block-right {
        right: 0;
    }
}

.slider-mini-container {}

.home-page .news-container {
    @include font-size(1.3);
    line-height: 1.4;

    @include media('>=desktop') {
        @include font-size(1.4);
    }

    h1, p {
        margin: 0;
        padding: 0;
    }

    h1 {
        color: $cr-brand-primary;
        margin-bottom: 4px;

        a {
            border-bottom: solid 1px transparent;
            text-decoration: none;

            &:hover {
                border-color: $cr-brand-primary;
            }
        }
    }

    .inner > div {
        padding-bottom: 60px;
    }

    .content-container {
        display: flex;
        flex-wrap: wrap;

        > * {
            flex: 1 0 auto;

            @include media('>=tablet') {
                flex-basis: 50%;
            }
        }

        .image-container {
            figure {
                overflow: hidden;

                &.border {

                }
            }
        }

        .summary-container {
            @extend .inner-small;

            @include media('>=tablet') {
                padding-right: 20px;
            }
        }
    }
}

/********************************************
    END HOMEPAGE
********************************************/


/********************************************
    BEGIN PEOPLE
********************************************/

.people-container {
    padding-top: 20px;
}

.people-page {
    .people-submenu {
        @extend %listreset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 6px;
        text-transform: lowercase;

        @include media('>=desktop') {
            justify-content: flex-end;
        }

        li {
            font-size: 13px;
            margin: 0 0 6px 16px;

            @include media('>=desktop') {
                margin-left: 30px;
                margin-bottom: 4px;
            }

            a {
                text-decoration: none;
                color: $font-cr-secondary;

                &.is-checked {
                    color: $rgb-lime;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                flex: 0 0 auto;
                margin-left: 0;

                @include media('>=tablet') {
                    margin-left: 30px;
                }
            }
        }
    }

    .people-lists {
        .more-info {
            @include btn-more-info();
        }

        .grid-item {
            cursor: pointer;
            margin-bottom: 20px;
            overflow: hidden;
            width: 100%;

            figure {
                margin: 0;
            }

            img {
                @include transition(all $animation-speed $animation-type);
            }

            .circle {
                opacity: 0;
            }

            .info {
                overflow: hidden;
                position: relative;
            }

            .overlay {
                @include rgba-background($rgb-white, 0.3);
                @include transition(opacity $animation-speed $animation-type);
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 100;
            }

            .bio-container {
                font-size: .875rem;
                line-height: 1.4;

                .more {
                    @include transition(all $animation-speed $animation-type);
                    display: none;
                }

                .bio-container__heading {
                    @include box-sizing();
                    padding: 7px 0 14px 0;
                    width: 100%;
                }

                .bio-container__name,
                p,
                .email {
                    font-weight: normal;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                }

                .bio-container__name {
                    display: block;
                    color: $rgb-grey;
                }

                p {
                    padding: 14px 0;
                    text-align: justify;
                    text-transform: inherit;
                    width: 98%;
                    margin: 0 auto;

                    &:first-of-type:before {
                        content: '';
                        display: block;
                        border-top: 4px solid $rgb-lime;
                        width: 15%;
                        margin-bottom: 10px;
                    }
                }

                a {
                    @include transition(color $animation-speed $animation-type);
                    color: inherit;
                    display: block;

                    &:hover {
                        color: $rgb-lime;
                    }

                    &.v-card {
                        color: $rgb-grey-light;
                        text-align: center;
                        text-decoration: none;
                    }
                }

                .email {
                    //@include font-size(1.2);
                    text-transform: lowercase;
                }

                .bio-container__name,
                .bio-container__title,
                .email, a[href^="mailto:"] {
                    text-align: center;
                }

                .bio-container__name,
                .bio-container__title {
                    text-align: left;
                    color: $rgb-grey;
                }

                .bio-container__title {
                    font-size: .9rem;
                }

                span.phone {
                    display: block;
                    text-align: center;

                    a {
                        display: inline-block;
                    }
                }
            }

            &:not(.executive-leadership) {
                .bio-container hgroup h1, .bio-container hgroup h2 {
                    text-align: left;
                    text-transform: none;
                }
            }

            &.active {
                .more-info {
                    @include btn-more-info-active();
                }

                .bio-container .more {
                    display: block;
                    height: 100%;
                }

                .overlay {
                    opacity: 0;
                }
            }

            @include media('>=tablet') {
                width: 48%;
            }

            @include media('>=desktop') {
                &:hover {
                    img {
                        transform: scale(1.1);
                    }

                    .circle {
                        opacity: 1;
                    }

                    .overlay {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .pagination {
        justify-content: center;
        ul {
            @extend %listreset;
            display: flex;

            li {
                margin: 0 3px;

                @include media('>=tablet') {
                    margin: 0 8px;
                }

                a {
                    text-decoration: none;

                    &:hover {
                        color: $cr-brand-tertiary;
                    }
                }
            }
        }
    }
}

.team-member-page {
    .team-member-container {
        display: flex;
        flex-direction: column;

        @include media('>=desktop') {
            flex-direction: row;
            justify-content: space-between;
        }

        .col-one-half {
            flex: 1 0 auto;

            @include media('>=desktop') {
                flex: 0 0 49%;
            }
        }

        figure {
            margin: 0;
            padding: 0;
        }

        .team-member-info {
            span {
                display: block;
            }
        }
    }
}

/********************************************
    END PEOPLE
********************************************/

/********************************************
    BEGIN CONTACT US
********************************************/

.contact-page {
    header .header-container > div.nav-container nav a.contact {
        &:after {
            transform: scaleX(1);
        }
    }

    h1, h2 {
        font-family: $font-primary;
        margin: 0 0 4px 0;
        padding: 0;
    }

    h1 {
        @include adaptiv-font(22, 27);
        font-weight: 400;
    }

    h2 {
        @include adaptiv-font(18, 21);
        font-weight: 600;
        margin-bottom: 12px;
    }

    .col-one-quarter {
        @include media('>=tablet') {
            flex: 1 0 28%;
        }
    }

    .maps-container {
        position: relative;
        font-size: 0.875rem;
        line-height: 1.4;

        #map {
            width: 100%;
            max-height: 420px;

            &:after {
                content: '';
                display: block;
                padding-bottom: 56.25%;
            }
        }

        #map-locations {
            padding-top: 25px;

            address {
                font-style: normal;
                padding-bottom: 10px;

                span {
                    display: block;
                }
            }

            .offices-container {
                @include transition(color $animation-speed $animation-type);
                padding-bottom: 30px;

                > div {
                    padding-bottom: 30px;
                }

                @include media('>=desktop') {
                    padding-bottom: 60px;

                    > div {
                        padding-bottom: 0;
                    }
                }

                .active {
                    color: $rgb-lime;

                    h2 {
                        color: inherit;
                    }
                }
            }

            .phone-fax-container {
                p {
                    margin: 0;
                    padding: 0;
                }

                a {
                    @include transition(color $animation-speed $animation-type);
                    color: inherit;

                    &:hover {
                        color: $rgb-lime;
                    }
                }
            }
        }

        .info-window {
            font-family: $font-primary;
            @include font-size(1.2);

            span {
                display: block;

                &:first-of-type {
                    @include font-size(1.3);
                    font-weight: bold;
                    margin-bottom: 4px;
                }
            }

            a {
                @include transition(color $animation-speed $animation-type);
                color: $rgb-grey;
                text-transform: lowercase;
                text-decoration: none;

                &:after {
                    @extend %font-awesome;
                    content: '\f105';
                    margin-left: 4px;
                }

                &:hover {
                    color: $rgb-lime;
                }
            }
        }
    }

    .contact-container {
        font-size: 0.875rem;
        line-height: 1.4;

        a {
            @include transition(color $animation-speed $animation-type);
            color: $rgb-grey;

            &:hover {
                color: $rgb-lime;
            }
        }

        .contact-leadership {
            display: flex;
            flex-direction: column;

            @include media('>=desktop') {
                flex-direction: row;
            }

            ul {
                @extend %listreset;

                &.leadership {
                    padding-bottom: 30px;

                    @include media('>=desktop') {
                        padding-bottom: 0;
                    }
                }

                &.experts {
                    @include media('>=tablet') {
                        column-count: 3;
                        column-gap: 5vw;
                    }

                    li {
                        width: 100%;
                        -webkit-column-break-inside: avoid; /* Chrome, Safari */
                        page-break-inside: avoid; /* Theoretically FF 20+ */
                        break-inside: avoid-column; /* IE 11 */
                        display: table;

                        a {
                            white-space: nowrap;
                        }
                    }
                }

                li {
                    padding-bottom: 20px;

                    span {
                        display: block;
                    }

                    span:first-of-type {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
