// Fonts
$font-primary:              "Lucida Sans Unicode", "Lucida Grande", sans-serif;

// Body
$base-font-size:            16px !default;
$line-height-base:          1.625 !default; //30px

// link colors
$link-cr-font:              $cr-brand-primary;

// headings
$heading-cr:                #212529;
$heading-letter-spacing:    0;
$headings-font-family:      Helvetica, Arial, sans-serif;
$h1-font-size:              3.5625rem;

// Additional
$accent-color:              $cr-brand-primary;
