.elevates-section {
    background-color: $cr-brand-secondary;
    padding-top: 12px;
    padding-bottom: 40px;

    @include media('>=desktop') {
        padding-top: 46px;
        padding-bottom: 73px;
    }

    .insights-list {
        margin-bottom: 25px;
        position: relative;

        @include media('<desktop') {
            margin-left: -5px;
            margin-right: -5px;
        }

        @include media('>=desktop') {
            margin-bottom: 61px;
        }
    }

    .insights-item {
        @include adaptiv-font(11, 15);
        padding: 25px 20px 23px;

        @include media('<tablet') {
            padding: 11px 9px 15px;
            margin-bottom: 13px;
            line-height: 1.182;
        }
    }

    .grid-item {
        @include media('<desktop') {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    .insights-item__img {
        margin-bottom: 20px;

        @include media('<tablet') {
            margin-bottom: 8px;
        }
    }
}

.toolbar {
    padding-top: 10px;
    margin-bottom: 11px;
    position: relative;

    @include media('>=tablet') {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 3px;
    }

    @include media('>=desktop') {
        margin-bottom: 35px;
    }
}

.filters {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: 5px;

    @include media('>=tablet') {
        padding-right: 15px;
    }

    li {
        position: relative;
        margin-right: 36px;

        @include media('<phone') {
            margin-right: 26px;
        }

        @include media('<tablet') {
            margin-bottom: 2px;
        }

        &:last-child {
            margin-right: 0;

            @include media('<tablet') {
                margin-right: 70px;
            }

            @include media('<phone') {
                margin-right: 6.25vw;
            }

            &::before {
                @include media('>=desktop') {
                    display: none;
                }
            }
        }

        &:before {
            content: '|';
            position: absolute;
            top: .17em;
            right: -15px;
            font-size: .85em;

            @include media('>=phone') {
                right: -21px;
            }

            @include media('>=desktop') {
                top: 0;
                right: -21px;
                font-size: 1em;
            }
        }

        &.new-line {
            &:before {
                display: none;
            }
        }
    }
}

.filters__btn {
    @include adaptiv-font(16, 20);
    @extend .btn-transparency;
    color: $cr-brand-tertiary;
    line-height: 1.3;
    font-family: $font-secondary;
    text-transform: uppercase;
    transition: $animation-speed;
    position: relative;
    margin-bottom: 10px;

    @include media('>=tablet') {
        padding-left: 4px;
        padding-right: 4px;
    }

    @include hover {
        &:not(.is-checked):hover {
            color: $cr-brand-primary;
        }
    }

    &.is-checked {
        font-weight: 700;

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $cr-success;
        }
    }
}

.search-form {
    margin-bottom: 0;
    @include media('<desktop') {
        width: 30px;
        position: absolute;
        right: 0;
        bottom: 12px;
    }

    @include media('<phone') {
        right: 15px;
    }

    @include media('>=desktop') {
        position: relative;
        margin-top: -9px;
        max-width: 24.105%;
        flex: 0 0 24.105%;
    }
}

.search-form__control {
    width: 100%;
    background-color: transparent;
    height: 40px;

    @include media('<desktop') {
        position: absolute;
        right: 0;
        top: -5px;
        width: 200px;

        transition: $animation-speed;
        transform: scaleX(0);
        transform-origin: 100% 0;
        border: 0;

        .is-opened & {
            transform: scaleX(1);
            z-index: 3;
        }
    }

    @include media('>=desktop') {
        border: 0;
        border-bottom: 1px solid rgba($cr-brand-tertiary, .36);
    }
}

.search-form__cta {
    @include adaptiv-font(16, 21);
    width: 1em;

    @include media('<desktop') {
        margin-left: auto;
        display: block;
        position: relative;
        z-index: 2;
    }

    @include media('>=desktop') {
        position: absolute;
        right: 0;
        bottom: 0;
        transition: $animation-speed;

        .search-form__control:focus + & {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.benefits__container {
    padding-bottom: 15px;

    @include media('>=desktop') {
        padding-bottom: 54px;
    }
}

.benefits__ttl {
    @include adaptiv-font(20, 25);
    color: $cr-brand-tertiary;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0;
    padding-left: 6px;

    @include media('>=desktop') {
        padding-left: 30px;
    }

    &:after {
        content: '';
        display: block;
        background-color: $cr-success;
        width: 49px;
        height: 3px;
        margin: 16px 0 17px;
    }
}

.benefits__txt {
    @include adaptiv-font(14, 16);
    padding-left: 6px;
    padding-right: 6px;

    @include media('>=desktop') {
        padding-left: 30px;
        padding-right: 15px;
        max-width: 54%;
        flex: 0 0 54%;
    }

    ul {
        @extend %listreset;
        padding-left: 13px;

        @include media('>=desktop') {
            padding-left: 33px;
        }

        li {
            position: relative;
            padding-left: 14px;
            margin-bottom: 10px;

            &:before {
                content: '';
                width: 6px;
                height: 6px;
                background-color: currentColor;
                position: absolute;
                left: 0;
                top: 6px;

                @include media('>=desktop') {
                    top: 11px;
                }
            }
        }
    }

    p {
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 19px;
        }
    }
}

.benefits__video-holder {
    max-width: 43.13%;
    flex: 0 0 43.13%;
}

.benefits__video {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    video {
        max-width: 100%;
    }

    .btn-play {
        @include adaptiv-font(46, 94);
        @include xycenter;
        line-height: 1;
        color: #fff;

        @include hover {
            color: $cr-brand-primary;
        }
    }
}

.benefits__video-ttl {
    @include adaptiv-font(20, 41);
    color: #00fffc;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    position: absolute;
    text-align: center;
    left: 10%;
    right: 10%;
    bottom: 11%;

    @include media('>=desktop') {
        bottom: 34px;
    }
}
