.main-hero {
    position: relative;
    margin-bottom: 25px;

    @include media('>=desktop') {
        margin-bottom: 50px;
    }
}

.main-hero__ttl {
    @include xycenter;
    @include adaptiv-font(26, 57);
    color: #fff;
    margin: 0;
    width: 80%;
    text-align: center;
}
