.main-hero {
    position: relative;
    margin-bottom: 16px;

    @include media('>=tablet') {
        margin-bottom: 30px;
    }

    @include media('>=desktop') {
        margin-bottom: 57px;
    }

    img {
        border-bottom: 5px solid $cr-brand-primary;
        min-height: 220px;
        background-color: rgba(#000, .6);

        @include media('<tablet') {
            min-height: 397px;
            object-fit: cover;
            border-bottom-width: 3px;
        }
    }
}

.main-hero__ttl {
    @include xycenter;
    @include adaptiv-font(26, 57);
    color: #fff;
    margin: -28px 0 0;
    width: 80%;
    text-align: center;

    &.ttl-lg {
        @include adaptiv-font(38, 90);
        margin-top: 0;
    }
}
