.footer {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
        color: currentColor;
        text-decoration: none;

        @include hover {
            text-decoration: underline;
            color: $link-cr-font;
        }
    }

    .social-icons {
        @extend %listreset;
        display: flex;
        font-size: 18px;

        li {
            margin-left: 10px;
        }
    }
}

.footer__left-container {
    @include media('<phone') {
        margin-bottom: 18px;
    }

    p {
        margin: 0;
    }
}

.fa-icon::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.facebook::after {
    content: '\f09a';
}

.linkedin::after {
    content: '\f08c';
}

.twitter::after {
    content: '\f099';
}

.instagram::after {
    content: '\f16d';
}

.youtube::after {
    content: '\f167';
}

.issuu::after {
    content: '\f167';
}
