body {
    &.is-menu-open {
        &:before {
            opacity: 1;
            visibility: visible;
        }
    }

    &:before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(#5c5c60, .5);
        z-index: 2;
        transition: $animation-speed;
        opacity: 0;
        visibility: hidden;
    }
}

.header {
    position: relative;
    padding-top: 17px;
    padding-bottom: 20px;

    @include media('>=desktop') {
        padding-top: 47px;
        padding-bottom: 23px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 157px;
    height: 35px;

    @include media('>=tablet') {
        width: 188px;
        height: 42px;
    }

    @include media('>=desktop') {
        width: 210px;
        height: 47px;
    }
}

.main-nav {
    @include media('>=tablet') {
        padding-top: 7px;
    }

    .nav-item {
        &:not(:first-child) {
            @include media('>=desktop') {
                margin-left: 65px;
            }
        }

        @include media('<tablet') {
            margin-bottom: 15px;
            font-size: 19px;
        }
    }

    .nav-link {
        color: $font-cr-secondary;
        text-decoration: none;
        position: relative;
        display: inline-block;
        font-size: 1.125rem;
        padding-top: .25em;
        padding-bottom: .25em;

        @include media('<tablet') {
            color: #fff;
        }

        &:after {
            content: '';
            transition: transform .3s ease-out, border-color .3s ease-out;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transform: scaleX(0);
            background-color: $cr-brand-primary;
            height: 2px;
        }

        @include hover {
            &:after {
                transform: scaleX(1);
            }
        }
    }

    .nav-toggle {
        position: absolute;
        right: 13px;
        top: 20px;
        width: 23px;
        height: 23px;
        background-color: #5c5c60;
        padding: 6px 3px;
        cursor: pointer;
        z-index: 1002;
        display: flex;
        align-items: center;
        justify-content: center;

        .bar {
            position: relative;
            width: 11px;
            background-color: #fff;
            border-radius: 3px;
            transition: background-color .27s .3s;
            background-clip: padding-box;
            height: 2px;

            .is-menu-open & {
                background-color: transparent;

                &:before {
                    bottom: 0;
                    transform: rotate(-45deg) translateX(-50%);
                    transition: bottom .3s cubic-bezier(.23,1,.32,1), transform .3s .3s cubic-bezier(.23,1,.32,1);
                }

                &:after {
                    top: 0;
                    transform: rotate(45deg) translateX(-50%);
                    transition: top .3s cubic-bezier(.23,1,.32,1), transform .3s .3s cubic-bezier(.23,1,.32,1);
                }
            }

            &:before {
                bottom: 6px;
                transition: bottom .3s .3s cubic-bezier(.23,1,.32,1), transform .3s cubic-bezier(.23,1,.32,1);
            }

            &:after {
                top: 6px;
                transition: top .3s .3s cubic-bezier(.23,1,.32,1), transform .3s cubic-bezier(.23,1,.32,1);
            }

            &:before,
            &:after {
                content: '';
                @include xcenter;
                transform: rotate(0) translateX(-50%);
                width: 16px;
                border-radius: 3px;
                background-clip: padding-box;
                height: 2px;
                background-color: #fff;
                transform-origin: 0 50%;
            }
        }
    }

    .navbar-nav {
        @include media('<tablet') {
            background-color: #5c5c60;
            position: absolute;
            top: 0;
            left: 100%;
            right: 0;
            height: 100vh;
            overflow: auto;
            width: 90vw;
            max-width: 400px;
            z-index: 1000;
            padding: 40px;
            transform: translateX(0);
            transition: $animation-speed;

            .is-menu-open & {
                transform: translateX(-100%);
            }
        }
    }
}
