.insights-section {
    padding-bottom: 41px;

    @include media('>=desktop') {
        padding-bottom: 56px;
    }
}

.insights {
    background-color: $cr-brand-secondary;
    padding: 29px 10px 0;

    @include media('>=desktop') {
        padding: 39px 32px 0;
        margin-bottom: 33px;
    }
}

.insights__ttl {
    @include adaptiv-font(20, 35);
    color: #5b5d62;
    font-weight: 700;
    line-height: 1.286;
    max-width: 900px;
    margin: 0 auto 32px;
    text-align: center;
}

.insights-item {
    background-color: #fff;
    padding: 18px;
    color: $cr-brand-tertiary;
    font-size: 15px;
    line-height: 1.7333;
    margin-bottom: 36px;
    max-width: 405px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid $cr-brand-primary;

    @include media('>=desktop') {
        padding: 28px 28px 23px;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.insights-item__img {
    overflow: hidden;
    margin-bottom: 18px;

    @include media('>=desktop') {
        margin-bottom: 25px;

        img {
            transition: $animation-speed;
        }
    }
}

.insights-item__text-ttl {
    @include adaptiv-font(13, 18);
    font-weight: 700;
    line-height: 1.154;
    color: $cr-brand-tertiary;
    margin-bottom: 11px;

    @include media('>=tablet') {
        line-height: 1.556;
    }
}

.insights-item__date {
    @include adaptiv-font(11, 14);
    display: block;
    margin-bottom: 12px;
}
