$header-height-mob: 72px;
$header-height-desk: 102px;

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    position: relative;
    text-rendering: optimizeLegibility;

    @include media('>=desktop') {
        max-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    // reserve space for header
    &:not([class*="fp-viewing"]) {
        padding-top: $header-height-mob;

        @include media('>=desktop') {
            padding-top: $header-height-desk;
        }
    }
}

.fp-responsive {
    .fp-section,
    .fp-slide,
    .fp-scrollable,
    .fp-tableCell {
        height: auto !important;
    }
}

.fullpage-wrapper {
    @include media('<tablet') {
        padding-top: $header-height-mob;
    }
}

.section:not(.fp-section):not(.footer) {
    height: calc(100vh - #{$header-height-mob});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media('>=desktop') {
        height: calc(100vh - #{$header-height-desk});
    }
}

.fp-section {
    @include media('<tablet') {
        //padding-top: 0 !important;
    }
}

.wrapper {
    overflow: hidden;
    padding-bottom: 5px;
}

.empty-wrapper {
    padding-top: 0;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;

    @include media('>=desktop') {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

%container-general {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $container;
    padding-left: $side-gutters-sm;
    padding-right: $side-gutters-sm;
}

.container {
    @extend %container-general;
    &--xl {
        @extend %container-general;
        max-width: $container-xl;
    }
    &--md {
        @extend %container-general;
        max-width: $container-md;
    }
    &--cms {
        @extend %container-general;
        max-width: $container-cms;
    }
    &--cms-sm {
        @extend %container-general;
        max-width: $container-cms-sm;
    }
    &--xs {
        @extend %container-general;
        max-width: $container-xs;
    }
    & &,
    .wrapped {
        @extend .no-gutters;
    }
}

.no-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section-cta {
    @include media('<desktop') {
        background-color: $cr-brand-secondary;
        padding-bottom: 26px;
    }
}
