.site-section {
    &:not(:last-of-type) {
        margin-bottom: 20px;

        @include media('>=desktop') {
            margin-bottom: 63px;
        }
    }
}

.site-section__container {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 15px;
        right: 15px;
        top: 0;
        bottom: 0;
        background-color: $cr-brand-secondary;
        z-index: -1;
    }
}

.site-section__img {
    position: relative;
}

.site-section__img-ttl {
    @include adaptiv-font(40, 111);
    color: rgba(#fff, .52);
    font-weight: 300;
    line-height: .8;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    margin: 0;

    @include media('<tablet') {
        top: 4px;
        left: 4px;
    }

    @include media('>=tablet') {
        bottom: -.06em;
    }

    .img-right & {
        @include media('>=tablet') {
            left: auto;
            right: 0;
        }
    }
}

.site-section__txt {
    padding: 20px 20px 26px;

    @include media('>=tablet') {
        max-width: 40%;
        flex: 0 0 40%;
        padding-left: 3.582%;
        padding-right: 2.3%;
    }

    @include media('>=desktop') {
        max-width: 29.627%;
        flex: 0 0 29.627%;
        padding-bottom: 34px;
    }

    > *:not(.btn) {
        width: 100%;
    }

    p {
        &:last-of-type {
            margin-bottom: 20px;

            @include media('>=tablet') {
                margin-bottom: 34px;
            }
        }
    }
}

.site-section__ttl {
    @include adaptiv-font(20, 25);
    color: $font-cr-primary;
    font-weight: 700;
    line-height: 1.3;

    @include media('>=desktop') {
        line-height: 1.56;
        max-width: 78%;
    }

    &:after {
        content: '';
        width: 49px;
        height: 3px;
        background-color: $cr-success;
        display: block;
        margin: 15px 0 19px;

        @include media('>=tablet') {
            margin: 19px 0 13px;
        }
    }
}
