<% var classes = {
    bodyClass: "elevate-page"
}; %>

<%= _.template(require('./../includes/header.html').default)(classes) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section class="main-hero">
    <div class="container-fluid">
        <img src="uploads/hero-elevate.jpg" alt="">
        <h1 class="main-hero__ttl ttl-lg">Let’s Elevate</h1>
    </div>
</section>

<section class="benefits">
    <div class="container benefits__container">
        <h2 class="benefits__ttl">Adding value every day</h2>

        <div class="row">
            <div class="col-12 d-lg-flex align-items-start justify-content-between">
                <div class="benefits__txt">
                    <p>Elevating the game” means we contribute to our clients’ lives through smart design solutions. We intend to change what Architects are for our clients and communities by measuring success in their terms:</p>
                    <ul>
                        <li><strong>Intentional experiences</strong> – people feel the spaces we create. Your customers will feel what it
                            means to do business with you, how it is to live, work, or stay in your buildings, learn in your
                            schools, and receive care in your hospitals.
                        </li>
                        <li><strong>Improved outcomes</strong> – Better experiences increases your customer outcomes, thereby improving your
                            competitiveness.
                        </li>
                        <li><strong>Increased performance</strong> – from reduced footprint, to higher through-put, we want to see your
                            bottom line improve.
                        </li>
                    </ul>
                    <p>Our team is committed to and driven by a common theme. . .  to add value, every day.</p>
                </div>

                <div class="benefits__video-col d-flex">
                    <div class="benefits__video" role="button" data-toggle="modal" data-target="#video-modal">
                        <img src="uploads/video-poster.jpg" alt="">
                        <span class="btn-play btn-transparency"><svg class="icon icon-play"><use xlink:href="#icon-play"></use></svg></span>
                        <div class="benefits__video-ttl">FPO Screenshot</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="elevates-section">
    <div class="container">
        <div class="toolbar">
            <ul class="filters" id="js-elevate-filters">
                <li><button class="filters__btn is-checked" data-filter="*">View All</button></li>
                <li><button class="filters__btn" data-filter=".insight">Insights</button></li>
                <li><button class="filters__btn" data-filter=".article">News</button></li>
                <li><button class="filters__btn" data-filter=".whitepapers">Whitepapers</button></li>
                <li><button class="filters__btn" data-filter=".video">Videos</button></li>
            </ul>

            <form class="search-container">
                <input class="search js-filter-search" type="search" aria-label="Search field" placeholder="Search">
            </form>
        </div>

        <div class="insights-list row js-grid-insights">
            <div class="grid-sizer col-6 col-lg-3"></div>
            <div class="col-6 col-lg-3 grid-item insight">
                <a href="" class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate1.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">Insight | 06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <span class="link-more">READ MORE</span>
                </a>
            </div>

            <div class="col-6 col-lg-3 grid-item article">
                <a href="" class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate2.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Mauris est dolor, tempus non purus sit amet, tristique venenatis urna</h3>
                    <em class="insights-item__date">Article | 06•12•2020</em>
                    <p>Nunc quis tempor ex, eu vehicula odio. Quisque luctus risus sit amet libero maximus, eget convallis metus cursus. Suspendisse gravida erat a velit pharetra, a pretium purus tristique.</p>
                    <span class="link-more">READ MORE</span>
                </a>
            </div>

            <div class="col-6 col-lg-3 grid-item whitepapers">
                <a href="" class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate3.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">Whitepaper | 06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <span class="link-more">READ MORE</span>
                </a>
            </div>

            <div class="col-6 col-lg-3 grid-item videos">
                <a href="" class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate1.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">Article | 06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <span class="link-more">READ MORE</span>
                </a>
            </div>

            <div class="col-6 col-lg-3 grid-item insight">
                <a href="" class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate1.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">Insight | 06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <span class="link-more">READ MORE</span>
                </a>
            </div>

            <div class="col-6 col-lg-3 grid-item article">
                <a href="" class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate2.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Mauris est dolor, tempus non purus sit amet, tristique venenatis urna</h3>
                    <em class="insights-item__date">Article | 06•12•2020</em>
                    <p>Nunc quis tempor ex, eu vehicula odio. Quisque luctus risus sit amet libero maximus, eget convallis metus cursus. Suspendisse gravida erat a velit pharetra, a pretium purus tristique.</p>
                    <span class="link-more">READ MORE</span>
                </a>
            </div>

            <div class="col-6 col-lg-3 grid-item video">
                <a href="" class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate3.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">VIDEO | 06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <span class="link-more">READ MORE</span>
                </a>
            </div>

            <div class="col-6 col-lg-3 grid-item video">
                <a href="" class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate1.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">VIDEO | 06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <span class="link-more">READ MORE</span>
                </a>
            </div>
        </div>

        <div class="no-results hidden">
            <p>We're sorry, your search didn't match any results. Please try again.</p>
        </div>

        <div class="pagination">
            <ul>
                <li class="active">
                    <a class="" href="/work/type?p=1">1</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=2">2</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=3">3</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=4">4</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=5">5</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=6">6</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=7">7</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=8">8</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=9">9</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=10">10</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=11">11</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=12">12</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=13">13</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=14">14</a>
                </li>
                <li class="">
                    <a class="page-num" href="/work/type?p=15">15</a>
                </li>
                <li><a class="pagination__next" href="/work/type?p=2">Next</a></li>
            </ul>
        </div>

        <div class="text-center js-btn-more">
            <a href="" class="btn btn-primary">Load more</a>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/video.html').default)() %>
<%= _.template(require('./../includes/footer.html').default)() %>
<%= _.template(require('./../includes/end-of-page.html').default)() %>
