<% var data = {
  title: "Elevar Design Group",
  author: "© 2019 All Rights Reserved."
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section id="people-section" class="people-container">
    <div class="container">
        <div class="toolbar">
            <ul class="filters" id="js-filters">
                <li><button class="filters__btn is-checked" data-filter="*">View All</button></li>
                <li><button class="filters__btn" data-filter=".executive-leadership">Executive Leadership</button></li>
                <li><button class="filters__btn" data-filter=".specialist">Specialists</button></li>
            </ul>

            <form action="" class="search-form">
                <input class="search-form__control form-control js-filter-search" aria-label="Search field" type="search">
                <span class="search-form__cta js-search-opener btn-transparency" aria-label="Search button"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg></span>
            </form>
        </div>

        <div class="people-lists row js-grid-insights">
            <div class="grid-sizer col-6 col-lg-3"></div>
            <div class="col-6 col-lg-3 grid-item">
                <div class="people-item">
                    <div class="insights-item__img"><img src="uploads/tom-fernandez.jpg" alt="E. Thomas Fernandez, SARA"/></div>
                    <span class="people-item__name">E. Thomas Fernandez, SARA</span>
                    <span class="people-item__title">Chief Executive Officer</span>

                    <div class="people-item__more">
                        <div class="contact-info-container">
                            <a class="email" href="mailto:tfernandez@elevar.com">tfernandez@elevar.com</a>
                            <span class="phone"><a href="tel:(513) 744 - 2959"
                                                   rel="phone">(513) 744 - 2959</a></span>
                            <span class="phone"><a href="tel:(513) 503 - 6840"
                                                   rel="phone">(513) 503 - 6840</a> (c)</span>

                            <a class="v-card" href="/media/3256/e-thomas-fernandez.vcf" target="_blank">download
                                Vcard</a>
                        </div>
                        <p style="text-align: justify;">As the CEO of Elevar Design Group, Tom Fernandez is
                            responsible for the overall vision and innovation of the firm. He facilitates
                            design direction and ensures that his staff is equipped to provide the best
                            solutions to clients. Since assuming executive leadership of the firm in the
                            late 1980s, Tom has been instrumental in growing the staff into the
                            multi-disciplined team of specialized designers it is today. Tom is the
                            recipient of many prestigious design awards commemorating his innovative
                            direction on projects.</p></div>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item">
                <div class="people-item">
                    <div class="insights-item__img"><img src="uploads/tom-fernandez.jpg" alt="E. Thomas Fernandez, SARA"/></div>
                    <span class="people-item__name">E. Thomas Fernandez, SARA</span>
                    <span class="people-item__title">Chief Executive Officer</span>

                    <div class="people-item__more">
                        <div class="contact-info-container">
                            <a class="email" href="mailto:tfernandez@elevar.com">tfernandez@elevar.com</a>
                            <span class="phone"><a href="tel:(513) 744 - 2959" rel="phone">(513) 744 - 2959</a></span>
                            <a class="v-card" href="/media/3256/e-thomas-fernandez.vcf" target="_blank">download Vcard</a>
                        </div>
                        <p style="text-align: justify;">As the CEO </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item">
                <div class="people-item">
                    <div class="insights-item__img"><img src="uploads/tom-fernandez.jpg" alt="E. Thomas Fernandez, SARA"/></div>
                    <span class="people-item__name">E. Thomas Fernandez, SARA</span>
                    <span class="people-item__title">Chief Executive Officer</span>

                    <div class="people-item__more">
                        <div class="contact-info-container">
                            <a class="email" href="mailto:tfernandez@elevar.com">tfernandez@elevar.com</a>
                            <span class="phone"><a href="tel:(513) 744 - 2959" rel="phone">(513) 744 - 2959</a></span>
                            <a class="v-card" href="/media/3256/e-thomas-fernandez.vcf" target="_blank">download Vcard</a>
                        </div>
                        <p style="text-align: justify;">As the CEO </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item">
                <div class="people-item">
                    <div class="insights-item__img"><img src="uploads/tom-fernandez.jpg" alt="E. Thomas Fernandez, SARA"/></div>
                    <span class="people-item__name">E. Thomas Fernandez, SARA</span>
                    <span class="people-item__title">Chief Executive Officer</span>

                    <div class="people-item__more">
                        <div class="contact-info-container">
                            <a class="email" href="mailto:tfernandez@elevar.com">tfernandez@elevar.com</a>
                            <span class="phone"><a href="tel:(513) 744 - 2959" rel="phone">(513) 744 - 2959</a></span>
                            <a class="v-card" href="/media/3256/e-thomas-fernandez.vcf" target="_blank">download Vcard</a>
                        </div>
                        <p style="text-align: justify;">As the CEO </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item">
                <div class="people-item">
                    <div class="insights-item__img"><img src="uploads/tom-fernandez.jpg" alt="E. Thomas Fernandez, SARA"/></div>
                    <span class="people-item__name">E. Thomas Fernandez, SARA</span>
                    <span class="people-item__title">Chief Executive Officer</span>

                    <div class="people-item__more">
                        <div class="contact-info-container">
                            <a class="email" href="mailto:tfernandez@elevar.com">tfernandez@elevar.com</a>
                            <span class="phone"><a href="tel:(513) 744 - 2959" rel="phone">(513) 744 - 2959</a></span>
                            <a class="v-card" href="/media/3256/e-thomas-fernandez.vcf" target="_blank">download Vcard</a>
                        </div>
                        <p style="text-align: justify;">As the CEO </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item">
                <div class="people-item">
                    <div class="insights-item__img"><img src="uploads/tom-fernandez.jpg" alt="E. Thomas Fernandez, SARA"/></div>
                    <span class="people-item__name">E. Thomas Fernandez, SARA</span>
                    <span class="people-item__title">Chief Executive Officer</span>

                    <div class="people-item__more">
                        <div class="contact-info-container">
                            <a class="email" href="mailto:tfernandez@elevar.com">tfernandez@elevar.com</a>
                            <span class="phone"><a href="tel:(513) 744 - 2959" rel="phone">(513) 744 - 2959</a></span>
                            <a class="v-card" href="/media/3256/e-thomas-fernandez.vcf" target="_blank">download Vcard</a>
                        </div>
                        <p style="text-align: justify;">As the CEO </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item">
                <div class="people-item">
                    <div class="insights-item__img"><img src="uploads/tom-fernandez.jpg" alt="E. Thomas Fernandez, SARA"/></div>
                    <span class="people-item__name">E. Thomas Fernandez, SARA</span>
                    <span class="people-item__title">Chief Executive Officer</span>

                    <div class="people-item__more">
                        <div class="contact-info-container">
                            <a class="email" href="mailto:tfernandez@elevar.com">tfernandez@elevar.com</a>
                            <span class="phone"><a href="tel:(513) 744 - 2959" rel="phone">(513) 744 - 2959</a></span>
                            <a class="v-card" href="/media/3256/e-thomas-fernandez.vcf" target="_blank">download Vcard</a>
                        </div>
                        <p style="text-align: justify;">As the CEO </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item">
                <div class="people-item">
                    <div class="insights-item__img"><img src="uploads/tom-fernandez.jpg" alt="E. Thomas Fernandez, SARA"/></div>
                    <span class="people-item__name">E. Thomas Fernandez, SARA</span>
                    <span class="people-item__title">Chief Executive Officer</span>

                    <div class="people-item__more">
                        <div class="contact-info-container">
                            <a class="email" href="mailto:tfernandez@elevar.com">tfernandez@elevar.com</a>
                            <span class="phone"><a href="tel:(513) 744 - 2959" rel="phone">(513) 744 - 2959</a></span>
                            <a class="v-card" href="/media/3256/e-thomas-fernandez.vcf" target="_blank">download Vcard</a>
                        </div>
                        <p style="text-align: justify;">As the CEO </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-load-status">
            <div class="loader infinite-scroll-request" style="display: none;">
                <span class="loading">Loading</span>
                <span class="dot dot_1"></span>
                <span class="dot dot_2"></span>
                <span class="dot dot_3"></span>
                <span class="dot dot_4"></span>
            </div>
        </div>
        <div class="no-results d-none">
            <p>We're sorry, your search didn't match any results. Please try again.</p>
        </div>

        <div class="pagination">
            <ul>
                <li class="active">
                    <a class="" href="?p=1">1</a>
                </li>
                <li class="">
                    <a class="page-num" href="?p=2">2</a>
                </li>
                <li class="">
                    <a class="page-num" href="?p=3">3</a>
                </li>
                <li class="">
                    <a class="page-num" href="?p=4">4</a>
                </li>
                <li class="">
                    <a class="page-num" href="?p=5">5</a>
                </li>
                <li class="">
                    <a class="page-num" href="?p=6">6</a>
                </li>
                <li class="">
                    <a class="page-num" href="?p=7">7</a>
                </li>
                <li><a class="pagination__next" href="/people?p=2">Next</a></li>
            </ul>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/end-of-page.html').default)(data) %>
