<% var data = {
  title: "Elevar Design Group",
  author: "© 2019 All Rights Reserved."
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section class="main-hero">
    <div class="container">
        <img src="uploads/sustainability.jpg" alt="">
        <h1 class="main-hero__ttl">Sustainability</h1>
    </div>
</section>

<section class="elevates-section">
    <div class="container">
        <div class="insights-list row js-grid-insights">
            <div class="grid-sizer col-6 col-lg-3"></div>
            <div class="col-6 col-lg-3 grid-item insight">
                <div class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate1.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">Whitepaper  |  06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <a href="" class="link-more">READ MORE</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item news">
                <div class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate2.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Mauris est dolor, tempus non purus sit amet, tristique venenatis urna</h3>
                    <em class="insights-item__date">Article  |  06•12•2020</em>
                    <p>Nunc quis tempor ex, eu vehicula odio. Quisque luctus risus sit amet libero maximus, eget convallis metus cursus. Suspendisse gravida erat a velit pharetra, a pretium purus tristique.</p>
                    <a href="" class="link-more">READ MORE</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item whitepapers">
                <div class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate3.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">VIDEO  |  06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <a href="" class="link-more">READ MORE</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item videos">
                <div class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate1.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">Article  |  06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <a href="" class="link-more">READ MORE</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item insight">
                <div class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate1.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">Whitepaper  |  06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <a href="" class="link-more">READ MORE</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item news">
                <div class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate2.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Mauris est dolor, tempus non purus sit amet, tristique venenatis urna</h3>
                    <em class="insights-item__date">Article  |  06•12•2020</em>
                    <p>Nunc quis tempor ex, eu vehicula odio. Quisque luctus risus sit amet libero maximus, eget convallis metus cursus. Suspendisse gravida erat a velit pharetra, a pretium purus tristique.</p>
                    <a href="" class="link-more">READ MORE</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item whitepapers">
                <div class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate3.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">VIDEO  |  06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <a href="" class="link-more">READ MORE</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 grid-item videos">
                <div class="insights-item">
                    <div class="insights-item__img"><img src="uploads/elevate1.jpg" alt=""></div>
                    <h3 class="insights-item__text-ttl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <em class="insights-item__date">Whitepaper  |  06•12•2020</em>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <a href="" class="link-more">READ MORE</a>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-primary">elevate</a>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
