<% var data = {
  title: "Elevar Design Group",
  author: "© 2019 All Rights Reserved."
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section class="main-hero">
    <div class="container">
        <img src="uploads/hero-whitepaper.jpg" alt="">
    </div>
</section>

<section class="general-cms">
    <div class="container--cms">
        <a href="" class="link-back">< Back</a>
        <h1>Whitepaper title Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do usmod</h1>
        <div class="article-meta">
            <div class="article-meta__author">
                <img src="uploads/author.jpg" alt="">
            </div>
            <div class="article-meta__txt">
                By: First Last <span class="divide">|</span> June 6, 2020
            </div>
            <ul class="article-meta__social">
                <li><a href=""><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
                <li><a href=""><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
                <li><a href=""><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a></li>
                <li><a href=""><svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg></a></li>
            </ul>
        </div>

        <div class="tags">Tags: <a href="">Sustainability</a>, <a href="">Design</a></div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue ante quis hendrerit tincidunt. Nunc vitae luctus purus. Sed a massa in nisi fringilla suscipit. Proin in ipsum non turpis finibus sagittis. Nunc rutrum dapibus nunc ut molestie. Maecenas sollicitudin scelerisque est, venenatis volutpat arcu. Vestibulum egestas felis vehicula, egestas leo sed, hendrerit augue. Sed a iaculis leo, at lobortis dolor. Suspendisse euismod nisi ac dolor venenatis, at imperdiet libero dapibus. Curabitur sem augue, finibus vitae velit id, euismod egestas mi. Mauris pulvinar arcu ornare massa consequat vestibulum.</p>
        <p>Proin mattis euismod orci eget porttitor. Sed nec tortor rutrum, vehicula nibh ut, porttitor leo. Vivamus blandit tincidunt tortor, a porttitor mi. Vestibulum ac molestie urna. Nullam rhoncus fermentum velit ac consequat. Suspendisse potenti. Suspendisse pellentesque sodales nulla, sit amet pretium felis rutrum et. Cras consectetur erat odio, eget imperdiet dui mattis nec. Nam pretium velit et elit rutrum consectetur. Fusce varius, sem sed dignissim varius, orci dui aliquam sapien, ut vulputate nisl leo ut metus. Vivamus non elementum ante. Aliquam a molestie metus.</p>

        <div class="btn-download">
            <button class="btn-primary" data-toggle="modal" data-target="#gate-modal">DOWNLOAD FULL PDF</button>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade modal-gate" id="gate-modal" tabindex="-1" role="dialog" aria-labelledby="gate-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gate-modal-label">Curabitur lacinia magna nisi, nec mattis nisl tempus sed. Mauris tincidunt nulla leo, non lacinia lacus facilisis quis. Suspendisse scelerisque augue et tristique.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="form-gate">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="f-name">First Name</label>
                            <input class="form-control" type="text" name="" id="f-name">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="l-name">Last Name</label>
                            <input class="form-control" type="text" name="" id="l-name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" name="" id="email">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="company">Company</label>
                            <input class="form-control" type="text" name="" id="company">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal-agreement">
                <div class="row">
                    <div class="col-md-7 col-lg-8 mb-3 mb-md-0">
                        <input class="form-check-input" type="checkbox" name="" id="privacy">
                        <label class="form-check-label" for="privacy">Privacy/legal sed imperdiet tellus a porttitor semper. Aenean elementum libero ipsum, at tincidunt erat convallis quis. Ut tempus egestas nibh, eget interdum nibh porta nec.</label>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <button type="button" class="btn btn-block btn-secondary">Download Full PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/end-of-page.html').default)(data) %>
