@import "core/variables";
@import "abstracts/mixins";
@import "core/icons";
@import "core/fonts";
@import "core/typography-settings";
@import "custom-old/variables";
@import "custom-old/mixins";

@import "~include-media/dist/include-media";
@import "~fullpage.js/dist/jquery.fullpage.min.css";

// Bootstrap
@import 'core/bootstrap-overrides';
@import '~bootstrap/scss/bootstrap';
@import '~slick-carousel/slick/slick';

@import "abstracts/utils";
@import "abstracts/classes";
@import "abstracts/helpers";
@import "abstracts/styleguide";

@import "components/buttons";
@import "components/links";
@import "components/typography";
@import "components/forms";
@import "components/loading";
//@import "components/tabs";
//@import "components/badge";
//@import "components/tooltip";
//@import "components/dropdown";
@import "components/modal-override";

@import "custom-old/base";
@import "layout/header";
@import "layout/layout";
@import "layout/footer";
@import "layout/popup";
@import "layout/form-contact";
@import "layout/site-section";
@import "layout/projects";
@import "layout/insights";

@import "pages/home";
@import "pages/elevate";
@import "custom-old/about";
@import "custom-old/site";
@import "custom-old/work";
@import "pages/not-found";
@import "pages/general-cms";

.slider-container .block-left,
.slider-container .block-right,
.work-page #work-detail-section .teaser-info-container {
    height: 100%;
}

.canvas {
    position: relative;
    overflow: hidden;
    width: 100%;
}

@media (max-width:481px) {
    .work-page #work-detail-section .teaser-info-container .project-stats {
        padding-bottom: 0;
    }

    .work-page #work-detail-section .teaser-info-container .project-stats h1 {
        font-size: 16px;
    }

    .work-page #work-detail-section .teaser-info-container .teaser-content blockquote {
        font-size: 1em;
    }

    .slider-container .slick-slider .slick-arrow.slick-prev {
        left: -3%;
    }

    .slider-container .slick-slider .slick-arrow.slick-next.testimonial.expanded {
        right: -9px;
    }

    .slider-container .slick-slider .slick-arrow {
        top: 62%;
    }

    .work-page #work-detail-section .teaser-info-container .teaser-content blockquote span:not(.title):before,
    .work-page #work-detail-section .teaser-info-container .teaser-content blockquote span:not(.title):after {
        font-size: 3rem;
    }

    .work-page #work-detail-section .teaser-info-container .teaser-content blockquote span:not(.title):before {
        left: -6px;
    }
}

@media (min-width:766px) and (max-width:1023px) {
    .work-page #work-detail-section .teaser-info-container .project-stats {
        padding-bottom: 0;
    }

    .work-page #work-detail-section .teaser-info-container .project-stats h1 {
        font-size: 16px;
    }

    .work-page #work-detail-section .teaser-info-container .teaser-content blockquote {
        font-size: 1em;
    }

    .slider-container .slick-slider .slick-arrow.slick-prev {
        left: -3%;
    }

    .slider-container .slick-slider .slick-arrow.slick-next.testimonial.expanded {
        right: -9px;
    }

    .slider-container .slick-slider .slick-arrow {
        top: 62%;
    }

    .work-page #work-detail-section .teaser-info-container .teaser-content blockquote span:not(.title):before,
    .work-page #work-detail-section .teaser-info-container .teaser-content blockquote span:not(.title):after {
        font-size: 3rem;
    }

    .work-page #work-detail-section .teaser-info-container .teaser-content blockquote span:not(.title):before {
        left: -6px;
    }
}
